.navbar-brand {
  letter-spacing: 2px;
}

.carousel-caption {
  background-color: rgba(17, 14, 0, 0.425);
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

footer {
  font-size: 0.9rem;
}

Bootstrap JS {
  font-size: 0.9rem;
}
